@using System.Text.RegularExpressions

@if (!string.IsNullOrEmpty(Title))
{
    <h3 id="@_ariaId">@Title</h3>
}

<div class="demo-section-content">
    <div class="demo-section-example">
        @ChildContent
        @if (Component is not null)
        {
            <DynamicComponent Type="Component" Parameters="ComponentParameters" />
        }
    </div>
</div>
