@page "/Panel"

@using Dashboard.Blazor.Client.Pages.Demo.Panel.Examples;

<h1>Panel</h1>

<DemoSection Title="Panels using async" Component="@typeof(DialogPanelAsync)">
</DemoSection>


<DemoSection Title="Panels using callbacks" Component="@typeof(DialogPanel)">
</DemoSection>

