@page "/perspective-weather"

<h3>Perspective Wather Demo</h3>

<PerspectiveGrid
    Height="800px"
    SchemaEndpoint="sample-data/weather.schema.json"
    DataEndpoint="sample-data/weather.json"
    TableName="Sample Weather Table" />
