@page "/perspective-view-wss"

<h3>Perspective Server Side</h3>

<GridView Height="800px" TableName="Sample Table" DataEndpoint=" weatherforecast/parquet/yellow_tripdata_2023-08.parquet" UseWebSocket=false SchemaEndpoint="sample-data/weather.schema.json"></GridView>

