@page "/perspective-view"

<h3>PerspectiveView</h3>

<GridView Height="800px" TableName="Sample Table" DataEndpoint="sample-data/yellow_tripdata_2023-07.arrow" SchemaEndpoint="sample-data/weather.schema.json"></GridView>

