@page "/perspective-view-wss"

<h3>Perspective Server Side</h3>

<GridView Height="800px" TableName="Sample Table" DataEndpoint="sample-data/fhvhv_tripdata_2023-08.arrow" UseWebSocket=false SchemaEndpoint="sample-data/weather.schema.json"></GridView>

