@page "/perspective-view"

<h3>PerspectiveView</h3>

<GridView Height="800px" TableName="Sample Weather Table" DataEndpoint="WeatherForecast" SchemaEndpoint="sample-data/weather.schema.json"></GridView>

