@page "/perspective-view-wss"

<h3>Perspective Server Side</h3>

<GridView Height="800px" TableName="Sample Table" DataEndpoint="weatherforecast/arrow/weather.json.arrow" UseWebSocket=false SchemaEndpoint="sample-data/weather.schema.json"></GridView>

