@page "/Autocomplete"

@using FluentUI.Demo.Shared.Pages.Autocomplete.Examples

<h1>Autocomplete</h1>

<h2 id="example">Examples</h2>

<DemoSection Title="Default" Component="@typeof(AutocompleteDefault)" />

<DemoSection Title="Customized options" Component="@typeof(AutocompleteCustomized)" />

<DemoSection Title="FluentPersona" Component="@typeof(AutocompletePersona)" />


